trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,name,tag,status,exit,realtime,%cpu,%mem,rss,peak_rss,realtime'
}

params {
    timecmd = "/usr/bin/time"
    bench_dir = "/mnt/scratch5/dongze/CODE/nextflow/tenX_datasets"
    work_dir = "${bench_dir}/xmpl"
    output_dir = "${bench_dir}/xmpl/output"
    read_len = 90
    n_threads = 16

    input_sheets {
        permitlist = "${bench_dir}/input_files/pl_sheet.tsv"
        reference = "${bench_dir}/input_files/ref_sheet.tsv"
        sample = "${bench_dir}/input_files/sample_sheet.tsv"
    }

    scripts {
        splici_builder = 'https://raw.githubusercontent.com/COMBINE-lab/usefulaf/main/R/build_splici_ref.R'
    }
}

profiles {
    conda {
        process.conda = "$bench_dir/conda.yml"
        cacheDir = "${params.bench_dir}/nf_pipeline/conda_cache"
        useMamba = true
    }
}
