trace {
  enabled = true
  overwrite = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,name,tag,status,exit,realtime,%cpu,%mem,rss,peak_rss,realtime'
}

process.container = 'combinelab/quantaf:latest'
// docker.enabled = true

params {
    timecmd = "/usr/bin/time"
    // bench_dir = "/mnt/scratch4/dongze/10x-requant"
    work_dir = "${projectDir}/nf_pipeline"
    output_dir = "${projectDir}/nf_pipeline/output"
    // delete_fastq = 1
    read_len = 90
    n_threads = 16

    permitlist = "${projectDir}/input_files/pl_sheet.tsv"
    reference = "${projectDir}/input_files/ref_sheet.tsv"
    sample = "${projectDir}/input_files/sample_sheet.tsv"
}

process {
    withLabel: multi_threads {
        cpus = 16
    }
    withLabel: single_threads {
        cpus = 1
    }
}


profiles {
    docker {
       process.container = 'combinelab/quantaf:latest'
       docker.enabled = true
    }
    conda {
       process.conda = "${projectDir}/conda.yml"
       useMamba = true
    }
    test { includeConfig 'conf/test.config' }
}

