trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,name,tag,status,exit,realtime,%cpu,%mem,rss,peak_rss,realtime'
}

params {
    timecmd = "/usr/bin/time"
    bench_dir = "/mnt/scratch7/10x-requant"
    work_dir = "${bench_dir}/nf_pipeline"
    output_dir = "${bench_dir}/nf_pipeline/output"
    delete_fastq = 1
    read_len = 90
    n_threads = 16

    input_sheets {
        permitlist = "${bench_dir}/input_files/pl_sheet.tsv"
        reference = "${bench_dir}/input_files/ref_sheet.tsv"
        sample = "${bench_dir}/input_files/sample_sheet.tsv"
    }
}

process {
    withLabel: multi_threads {
        cpus = 16
    }
    withLabel: single_threads {
        cpus = 1
    }
}


//conda {
//    process.conda = "$baseDir/conda.yml"
//    cacheDir = "${params.bench_dir}/nf_pipeline/conda_cache"
//    useMamba = true
//}
