trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,name,tag,status,exit,realtime,%cpu,%mem,rss,peak_rss,realtime'
}

process.container = 'combinelab/quantaf:latest'
docker.enabled = true

params {
    timecmd = "/usr/bin/time"
    // bench_dir = "/mnt/scratch4/dongze/10x-requant"
    work_dir = "${projectDir}/nf_pipeline"
    output_dir = "${projectDir}/nf_pipeline/output"
    // delete_fastq = 1
    n_threads = 16

    input_sheets {
        permitlist = "${projectDir}/input_files/pl_sheet.tsv"
        // reference = "${projectDir}/input_files/ref_sheet_example.tsv"
        // sample = "${projectDir}/input_files/sample_sheet_example.tsv"
        reference = "${projectDir}/input_files/ref_sheet.tsv"
        sample = "${projectDir}/input_files/sample_sheet.tsv"
    }
    pyroe {
        read_len = 90
        trim_length = 5

        filename_pref = "new_file_name"
        bt_path = ""
        
        //the following commands can be left as "", put True or T to run pyroe with that option

        no_bt = "False"
        dedup_seqs = "False"
        no_flanking_merge = "False"
    }
}

process {
    withLabel: multi_threads {
        cpus = 16
    }
    withLabel: single_threads {
        cpus = 1
    }
}


profiles {
    docker {
       process.container = 'combinelab/quantaf:latest'
       docker.enabled = true
    }
    conda {
       process.conda = "${projectDir}/conda.yml"
       useMamba = true
    }
    test { includeConfig 'conf/test.config' }
}

