trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,name,tag,status,exit,realtime,%cpu,%mem,rss,peak_rss,realtime'
}

process.container = 'combinelab/quantaf:latest'
docker.enabled = true

params {
    input_sheets {
        permitlist = "${projectDir}/input_files/pl_sheet_toy.tsv"
        reference = "${projectDir}/input_files/ref_sheet_toy.tsv"
        sample = "${projectDir}/input_files/sample_sheet_toy.tsv"
    }
}
